<form class="wrapper" action="submit" method="POST" onsubmit="didSubmit()">
    <div class="text-center" style="margin-bottom: 40px;">
        <img class="mb-4 appIcon" src="{{app.iconUrl}}" alt="">
        <h4 class="h3 mb-3 font-weight-normal">{{app.name}}</h4>
    </div>

    <div class="form-group">
        <label for="inputFirstName">First Name</label>
        <input type="text" id="inputFirstName" name="firstName" class="form-control" placeholder="First Name" required>
    </div>

    <div class="form-group">
        <label for="inputLastName">Last Name</label>
        <input type="text" id="inputLastName" name="lastName" class="form-control" placeholder="Last Name" required>
    </div>

    <div class="form-group">
        <label for="inputEmail">Email Address</label>
        <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email Address" required>
    </div>

    <input class="btn btn-lg btn-primary btn-block" id="submit" type="submit" value="Get Beta Access"></input>
</form>

<script type="text/javascript">
    function didSubmit() {
        $("#submit").val("Loading...")
        $("#submit").prop('disabled', true)
    }
</script>