<div class="text-center wrapper">
    <img class="mb-4 appIcon" src="{{app.iconUrl}}" style="margin-bottom: 30px;" alt="">
    <div class="alert alert-{{alertType}}" role="alert">
        {{message}}
    </div>
</div>